<select name="region" id="select">





 {% for Reg in region %} 

 	<option value="valeur">{{ Reg.nom_reg }}</option>

{% endfor %}
   
 
</select>

<select name="dpartement" id="select">


{% for dep in departements %} 

 	<option value="valeur">{{ dep.nom_dep }}</option>

{% endfor %}

</select>




<select name="Ville" id="select" value="Ville">

  <option value="valeur1">Valeur 1</option> 
  <option value="valeur2">Valeur 2</option>
  <option value="valeur3">Valeur 3</option>

</select>

<a href='http://localhost/data_project/home' class='btn btn-warning'>Retour</a>


{% for musee in musees %}
<div>
    <h3>{{ musee.nom_du_musee }}</h3>
    <img src="{{ musee.lien_image}}">
</div>

{% endfor %}

