@font-face {
  font-family: 'RalewayM';
  src: url("Raleway-Medium.ttf"); }
@font-face {
  font-family: 'RalewayEB';
  src: url("Raleway-ExtraBold.ttf"); }
@font-face {
  font-family: 'RalewaySB';
  src: url("Raleway-SemiBold.ttf"); }
body {
  font-family: 'RalewayM'; }

header {
  background: #a73439; }
  header .topbar-responsive {
    background: #a73439;
    padding: 1rem 1.5rem; }
    header .topbar-responsive .menu {
      background: #a73439;
      height: 50px; }
      header .topbar-responsive .menu li:last-of-type {
        margin-right: 0; }
      header .topbar-responsive .menu a {
        color: #fff;
        transition: color 0.15s ease-in;
        padding: 15px; }
        header .topbar-responsive .menu a:hover {
          background-color: #fff;
          color: #a73439;
          padding: 15px;
          border-radius: 5px; }

@media screen and (max-width: 39.9375em) {
  padding: 0.75rem;
  .top-bar-title {
    position: relative;
    width: 100%; } }
#logo {
  position: absolute;
  top: -9px; }

/* Slider */
#slider {
  width: 100%;
  height: 530px;
  position: relative;
  overflow: hidden; }
  #slider img {
    width: 100%;
    height: 100%; }
  #slider .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite; }
  #slider .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 0px; }
  #slider .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px; }
    #slider .switch ul {
      list-style: none;
      overflow: hidden; }
      #slider .switch ul li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        float: left;
        margin-right: 5px; }
    #slider .switch .on {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #a73439;
      position: relative;
      -webkit-animation: on 30s infinite;
      -moz-animation: on 30s infinite;
      animation: on 30s infinite; }
  #slider .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, 0.5);
    border-bottom: 0;
    position: absolute;
    bottom: 0; }
  #slider .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
    #slider .content .content-txt {
      width: 400px;
      height: 150px;
      float: left;
      position: relative;
      top: 300px;
      -webkit-animation: content-s 7.5s infinite;
      -moz-animation: content-s 7.5s infinite;
      animation: content-s 7.5s infinite; }
      #slider .content .content-txt h1 {
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        margin-left: 30px;
        padding-bottom: 10px; }
      #slider .content .content-txt h2 {
        font-size: 14px;
        font-style: italic;
        color: #fff;
        margin-left: 30px; }

@keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }
/* Animation SLider */
@-webkit-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-moz-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-webkit-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-moz-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 20px; }
  15% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-webkit-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@-moz-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
footer {
  margin-top: 60px; }

/*# sourceMappingURL=museeStyle.css.map */
