@font-face {
  font-family: 'RalewayM';
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: 'RalewayEB';
  src: url("../fonts/Raleway-ExtraBold.ttf"); }
@font-face {
  font-family: 'RalewaySB';
  src: url("../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: 'Chewy';
  src: url("../fonts/Chewy-Regular.ttf"); }
@font-face {
  font-family: 'Handlee';
  src: url("../fonts/Handlee-Regular.ttf"); }
body {
  font-family: 'RalewayM'; }

h2, h1 {
  font-family: 'Chewy'; }

#carte {
  padding-top: 30px; }

header {
  background: #a73439; }
  header .topbar-responsive {
    background: #a73439;
    padding: 1rem 1.5rem; }
    header .topbar-responsive .menu {
      background: #a73439;
      height: 50px; }
      header .topbar-responsive .menu li:last-of-type {
        margin-right: 0; }
      header .topbar-responsive .menu a {
        color: #fff;
        transition: color 0.15s ease-in;
        padding: 15px; }
        header .topbar-responsive .menu a:hover {
          background-color: #fff;
          color: #a73439;
          padding: 15px;
          border-radius: 5px; }

@media screen and (max-width: 39.9375em) {
  padding: 0.75rem;
  .top-bar-title {
    position: relative;
    width: 100%; } }
#logo {
  position: absolute;
  top: -9px; }

/* Slider */
#slider {
  width: 100%;
  height: 580px;
  position: relative;
  overflow: hidden; }
  #slider img {
    width: 100%;
    height: 100%; }
  #slider .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite; }
  #slider .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 0px; }
  #slider .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px; }
    #slider .switch ul {
      list-style: none;
      overflow: hidden; }
      #slider .switch ul li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        float: left;
        margin-right: 5px; }
    #slider .switch .on {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #a73439;
      position: relative;
      -webkit-animation: on 30s infinite;
      -moz-animation: on 30s infinite;
      animation: on 30s infinite; }
  #slider .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, 0.5);
    border-bottom: 0;
    position: absolute;
    bottom: 0; }
  #slider .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
    #slider .content .content-txt {
      width: 400px;
      height: 150px;
      float: left;
      position: relative;
      top: 300px;
      -webkit-animation: content-s 7.5s infinite;
      -moz-animation: content-s 7.5s infinite;
      animation: content-s 7.5s infinite; }
      #slider .content .content-txt h1 {
        font-family: 'Chewy';
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        margin-left: 30px;
        padding-bottom: 10px; }
      #slider .content .content-txt h2 {
        font-family: 'RalewaySB';
        font-size: 18px;
        color: #fff;
        margin-left: 30px; }

@keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }
/* Animation SLider */
@-webkit-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-moz-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-webkit-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-moz-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 20px; }
  15% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-webkit-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@-moz-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
#fleche {
  position: absolute;
  top: 395px;
  left: 645px;
  z-index: 5;
  width: 5%;
  fill: rgba(255, 255, 255, 0.6); }
  #fleche:hover {
    fill: white; }

/* carte */
#map {
  max-width: 50%;
  max-height: 0%; }
  #map path {
    stroke-width: 3; }
    #map path:hover {
      fill: rgba(167, 52, 57, 0.6); }

footer {
  margin-top: 60px !important;
  background-color: #BE8B5E;
  padding-top: 40px; }
  footer .crea img {
    width: 60%; }

.mus {
  margin: 20px; }

.image-hover-wrapper {
  position: relative;
  margin-top: 20px; }
  .image-hover-wrapper a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative; }
    .image-hover-wrapper a img {
      float: left;
      overflow: hidden;
      width: 350px;
      height: 200px; }
    .image-hover-wrapper a .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition-delay: 0.25s; }
      .image-hover-wrapper a .image-hover-wrapper-reveal:hover {
        opacity: 1;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-delay: 0.25s; }
      .image-hover-wrapper a .image-hover-wrapper-reveal p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .image-hover-wrapper .image-hover-wrapper-banner {
    background-color: rgba(167, 52, 57, 0.8);
    color: #fff;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 60%;
    width: 75%;
    z-index: 10; }

/*# sourceMappingURL=museeStyle.css.map */
