@font-face {
  font-family: 'RalewayM';
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: 'RalewayEB';
  src: url("../fonts/Raleway-ExtraBold.ttf"); }
@font-face {
  font-family: 'RalewaySB';
  src: url("../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: 'Handlee';
  src: url("../fonts/Handlee-Regular.ttf"); }
@font-face {
  font-family: 'MavenB';
  src: url("../fonts/MavenPro-Bold.ttf"); }
body {
  font-family: 'RalewayM'; }

h1, h3 {
  font-family: 'MavenB'; }

h3 {
  font-size: 2.5em; }

h4 {
  text-transform: uppercase;
  font-family: "RalewaySB"; }

span {
  border-bottom: 4px solid #234a56; }

.retour {
  border: none;
  background-color: inherit;
  color: #234a56;
  text-transform: uppercase;
  font-family: 'RalewaySB';
  font-size: 1.2em;
  cursor: pointer; }

header {
  background: #234a56;
    /*form{

      [type=search]{
        border-radius: 30px; 
      }
    }*/ }
  header .topbar-responsive {
    background: #234a56;
    padding: 1rem 1.5rem;
    height: 65px; }
    header .topbar-responsive #logo {
      position: absolute;
      top: -15px;
      width: 4.5%; }
    header .topbar-responsive .menu {
      background: #234a56; }

/* Slider */
#slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden; }
  #slider img {
    width: 100%;
    height: 100%; }
  #slider .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite; }
  #slider .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 0px; }
  #slider .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px; }
    #slider .switch ul {
      list-style: none;
      overflow: hidden; }
      #slider .switch ul li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        float: left;
        margin-right: 5px; }
    #slider .switch .on {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #417d95;
      position: relative;
      -webkit-animation: on 30s infinite;
      -moz-animation: on 30s infinite;
      animation: on 30s infinite; }
  #slider .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, 0.801);
    border-bottom: 0;
    position: absolute;
    bottom: 0; }
  #slider .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
    #slider .content .content-txt {
      width: 400px;
      height: 150px;
      float: left;
      position: relative;
      top: 300px;
      -webkit-animation: content-s 7.5s infinite;
      -moz-animation: content-s 7.5s infinite;
      animation: content-s 7.5s infinite; }
      #slider .content .content-txt h1 {
        font-family: 'MavenB';
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        margin-left: 30px;
        padding-bottom: 10px; }
      #slider .content .content-txt h2 {
        font-size: 16px;
        color: #fff;
        margin-left: 30px; }

@keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }
/* Animation SLider */
@-webkit-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-moz-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-webkit-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-moz-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 20px; }
  15% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-webkit-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@-moz-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
#fleche {
  position: absolute;
  top: 395px;
  left: 645px;
  z-index: 5;
  width: 5%;
  fill: rgba(255, 255, 255, 0.6); }
  #fleche:hover {
    fill: white; }

/* carte */
#carte {
  padding-top: 60px;
  padding-bottom: 60px; }

#map path {
  stroke-width: 3; }
  #map path:hover {
    fill: #89b9c5; }
#map #Normandie, #map #hautDeFrance, #map #ileDeFrance, #map #grandEst, #map #bourgogneFrancheComte, #map #centreValLoire, #map #bretagne, #map #paysLoire, #map #paysLoire, #map #nouvelleAquitaine, #map #auvergneRhoneAlpes, #map #occitanie, #map #paca, #map #guyane, #map #reunion, #map #martinique, #map #guadeloupe, #map #mayotte, #map #corse {
  cursor: pointer; }

footer {
  background-color: #234a56;
  padding-top: 40px;
  color: #fff;
  font-size: 0.8em; }
  footer .crea img {
    width: 60%; }

.mus {
  margin: 20px; }

#musees {
  padding-top: 60px;
  padding-bottom: 60px; }
  #musees ul {
    margin-top: 40px;
    margin-bottom: 0px; }
  #musees .pagination .current {
    background-color: #234a56; }

.legende {
  padding-bottom: 60px; }

.image-hover-wrapper {
  position: relative;
  margin-top: 20px; }
  .image-hover-wrapper a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative; }
    .image-hover-wrapper a img {
      float: left;
      overflow: hidden;
      width: 400px;
      height: 200px; }
    .image-hover-wrapper a .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition-delay: 0.25s; }
      .image-hover-wrapper a .image-hover-wrapper-reveal:hover {
        opacity: 1;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-delay: 0.25s; }
      .image-hover-wrapper a .image-hover-wrapper-reveal p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .image-hover-wrapper .image-hover-wrapper-banner {
    background-color: rgba(65, 125, 149, 0.7);
    color: #fff;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 60%;
    width: 90%;
    z-index: 10; }

#infoMusee form {
  margin: 25px; }
#infoMusee .imgMusee {
  width: 100%;
  height: 700px; }
#infoMusee .des {
  margin: 40px;
  font-size: 4em;
  position: absolute;
  top: 304px;
  left: 400px;
  color: #142c3a;
  text-shadow: 2px 2px 1px #083742; }
#infoMusee h2 {
  text-transform: uppercase; }
#infoMusee .fond {
  background-color: rgba(65, 125, 149, 0.7);
  width: 100%;
  height: 135px;
  position: absolute;
  top: 330px; }
#infoMusee svg {
  margin: 30px; }
#infoMusee #info {
  padding-bottom: 60px;
  padding-top: 60px; }
#infoMusee #re {
  margin: 0px;
  margin-left: 15px; }
#infoMusee a {
  color: #000; }
  #infoMusee a:hover {
    color: #417d95; }
#infoMusee a, #infoMusee a:visited {
  color: grey; }

@media screen and (max-width: 39.9375em) {
  header .topbar-responsive #logo {
    width: 15%; }

  #carte {
    padding-bottom: 40px;
    padding-top: 40px; }
    #carte #map {
      max-width: 100%;
      height: 385px; }

  .legende {
    padding-bottom: 0px; }

  footer .crea img {
    width: 100%; }

  #infoMusee .des {
    font-size: 1.7em;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px; }
  #infoMusee .imgMusee {
    height: 250px; }
  #infoMusee .fond {
    top: 318px; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #logo {
    width: 10.5% !important; }

  #map {
    max-width: 90%; }

  .legende {
    padding-bottom: 60px; }

  .crea img {
    width: 80% !important; }

  #infoMusee .des {
    font-size: 3em;
    left: 80px;
    top: 165px; }
  #infoMusee .imgMusee {
    height: 400px; }
  #infoMusee .fond {
    top: 200px;
    background-color: rgba(65, 125, 149, 0.5); } }
body *, html * {
  box-sizing: border-box; }

.container {
  position: absolute;
  left: 80%;
  top: 15px;
  transform: translate(-50%);
  display: flex; }
  .container button {
    background-color: #fff;
    border-radius: 30px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    font-size: 0.8em; }

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px; }

.search-box input[type="text"]:hover {
  cursor: pointer; }

.search-box input[type="text"]:hover:focus {
  cursor: text; }

.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2); }

.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white; }

.search-box input[type="text"]:focus + span {
  width: 200px; }

.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in; }

.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0; }

.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px); }

/*# sourceMappingURL=museeStyle.css.map */
