@import "variables.scss";

//general
body{
  font-family: 'RalewayM';
}

h1, h3{
  font-family: 'MavenB'; 
}

h3{
  font-size: 2.5em; 
 }

h4{
  text-transform: uppercase; 
  font-family: 'RalewaySB'
}

//Header et navbar
header{
    background: $vertFonce;

.topbar-responsive {
  background: $vertFonce;
  padding: 1rem 1.5rem;

  #logo{
      position: absolute;
      top: -15px;
      width: 4.5%; 
    }

  .menu {
    background: $vertFonce;
    }
  }
}

/* Slider */
#slider{
  width: 100%;
  height:600px;
  position:relative;
  overflow:hidden;

  img{
    width:100%;
    height:100%;
  }

  .slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
  }

  .slider{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;
    margin-top: 0px;
  }

  .switch{
    width:120px;
    height:10px;
    position:absolute;
    bottom:50px;
    z-index:99;
    left:30px;

    ul{
      list-style:none;
      overflow:hidden;

      li{
        width:10px;
        height:10px;
        border-radius:50%;
        background:#333;
        float:left;
        margin-right:5px;
      }
    }

    .on{
      width:100%;
      height:100%;
      border-radius:50%;
      background:$bleuCanard;
      position:relative;
      -webkit-animation:on 30s infinite;
      -moz-animation:on 30s infinite;
      animation:on 30s infinite;
    }
  }

  .legend{
    border:500px solid transparent;
    border-left:800px solid rgba(52, 73, 94, 0.801);
    border-bottom:0;
    position:absolute;
    bottom:0;
  }

  .content{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;

    .content-txt{
      width:400px;
      height:150px;
      float:left;
      position:relative;
      top:300px;
      -webkit-animation:content-s 7.5s infinite;
      -moz-animation:content-s 7.5s infinite;
      animation:content-s 7.5s infinite;

        h1{
          font-family: 'MavenB';
          text-transform:uppercase;
          font-size:24px;
          color:#fff;
          margin-left:30px;
          padding-bottom:10px;
        }

        h2{
          font-size:16px;
          color:#fff;
          margin-left:30px;
        }
    }
  }
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}

/* Animation SLider */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

#fleche{
  position: absolute;
  top:395px;
  left: 645px;
  z-index: 5;
  width: 5%;
  fill: rgba(255, 255, 255, 0.6);

  &:hover{
    fill: rgba(255, 255, 255, 1);
  }
}


/* carte */
#carte{
  padding-top: $padding60; 
  padding-bottom: $padding60; 
}

#map {


    path{
      stroke-width:3;

      &:hover{
        fill: $vertClair; 
        ;
      }
    }

    #Normandie, #hautDeFrance, #ileDeFrance, #grandEst, #bourgogneFrancheComte, #centreValLoire, #bretagne, #paysLoire, #paysLoire, #nouvelleAquitaine, #auvergneRhoneAlpes, #occitanie, #paca, #guyane, #reunion, #martinique, #guadeloupe, #mayotte, #corse{
      cursor: pointer;
    }
  }


//footer
footer{
  background-color:$vertFonce ; 
  padding-top: 40px;
  color: #fff; 
  font-size: 0.8em; 

  .crea{
    img{
      width: 60%;
    }
  }
}

// list
.mus{
  margin: 20px; 
}

#musees{
  padding-top:  $padding60; 
  padding-bottom: $padding60; 

    .btn{
      text-transform: uppercase; 
    }

    a{
      color: $vertFonce; 
      font-family: 'RalewaySB'; 
    }

}
.legende{
  padding-bottom: $padding60; 
}

.image-hover-wrapper {
  position: relative;
  margin-top: 20px;

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      width: 400px;
      height: 200px;
    }

    .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: $image-hover-wrapper-transition;
      transition-delay: $image-hover-wrapper-transition-delay;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;
      }

      p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: $image-hover-wrapper-transition;
      }
    }
  }

  .image-hover-wrapper-banner {
    background-color: $image-hover-wrapper-banner-bg;
    color: $white;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 60%;
    width: $image-hover-wrapper-banner-width;
    z-index: 10;
  }
}

//infoMusee
#infoMusee{
  svg{
    margin: 30px; 
  }

  p{
    margin-top: 20px; 
    margin-bottom: 80px; 
  }
}

//media Queries

//telephone
@media screen and (max-width: 39.9375em) {
  header .topbar-responsive #logo{
    width: 15%; 
  }

  #carte{
    padding-bottom: 40px; 
    padding-top: 40px; 
  
  #map{
    max-width: 100%; 
    height: 385px; 
  }
  }

  .legende{
    padding-bottom: 0px; 
  }

  footer{
  .crea{
    img{
      width: 100%;
    }
  }
  }
}

// tablette
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #logo{
    width: 10.5% !important; 
  }

  #map{
    max-width: 90%; 
  }

  .legende{
    padding-bottom: $padding60; 
  }

  .crea{
    img{
      width: 80% !important;
    }
  }
}



