$white: #fff;
$rougePouilly: #a73439;
$grisFonce: #5a5955;
$gris: #c7c6c4;
$brun: #BE8B5E;
$rougePouillyTransp : rgba(167, 52, 57, 0.8); 

$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in;
